<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hisham.design">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeOne">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".TextInputLayoutActivity"
            android:label="@string/title_activity_floating_labels" />
        <activity
            android:name=".FloatingActionButtonActivity"
            android:label="@string/title_activity_floating_action_button" />
        <activity
            android:name=".TabLayoutActivity"
            android:label="@string/title_activity_tab_layout" />
        <activity
            android:name=".CoordinatorLayoutActivity"
            android:label="@string/title_activity_coordinator_layout" />
        <activity
            android:name=".CollapsingToolbarsActivity"
            android:label="@string/collapsing_toolbars"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".PaletteActivity"
            android:label="@string/title_activity_pallete" />
        <activity
            android:name=".GoogleLoginActivity"
            android:label="@string/title_activity_social_login" />
        <activity
            android:name=".FacebookLoginActivity"
            android:label="@string/title_activity_facebook_login">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".DataBindingActivity"
            android:label="@string/title_activity_data_binding" />
        <activity
            android:name=".ThemeSelectActivity"
            android:label="@string/title_activity_theme_select" />
        <activity
            android:name=".ContentProviderActivity"
            android:label="@string/title_activity_content_provider" />

        <!--
             From Android 4.3 by default exported is false which is true by default in older versions.
            If your provider is not exported, It will throw a permission exception if provider data is accessed.
        -->
        <provider
            android:name=".provider.StudentsProvider"
            android:authorities="com.example.provider.College"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".AndroidPermissionsSampleActivity"
            android:label="@string/title_activity_android_permissions_sample"
            android:theme="@style/AppThemeOne.NoActionBar" />

        <service
            android:name=".GPSTracker"
            android:enabled="true"
            android:exported="true" />
        android:label="@string/title_activity_maps"/>
        <activity android:name=".AdilClientActivity" />
        <activity android:name=".MultiApkActivity"></activity>
    </application>

</manifest>
